
h1 {
  text-align: center;
}

table {
  width: 30%;
  margin: 100px auto;
}

input {
  width: 100%;
  height: 3rem;
}

.btnNum {
  background: silver;
}


.btnOperator {
  background: #f49542;
}

.btnReset{
  background: #f49542;
}

.calcResult {
  background: black;
  color: white;
  height: 3rem;
  text-align: right;
  font-size: 2rem;
  padding: 10px 20px;

}
